body{
  margin: 10px auto;
  width: 95%;
}
.tag {
  display: flex;
  flex-direction: column;
  border: 1px solid #55b4ef;
  margin: 8px 0px 15px 11px;
}

.tag-header {
  background-color: #55b4ef;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
.tag-content{
  box-sizing: border-box;
  padding: 4px 0px 4px 8px;
  background-color: #e4e3e3;

    
}
.collapse-button{
  width: 55px;
  height: 30px;
  background-color: #dbd6d6;
  border: none;

}
.tag-name{
  margin-left: 15px;
  font-weight: 500;
}
.data > input{
  margin-left: 10px;
  height: 25px;
  width: 175px;
  border-radius: 3px;
  border: none;
}
.btn-export{
  margin: 35px 0px 15px 11px;
  
}
.btn-export > button{
 height: 45px;
 border-radius: 5px;
 border: 2px solid gray;
}
button{
  width: 130px;
  background-color: #dbd6d6;
  border: none;

}